In [1]:
import pandas as pd

In [1]:
df = pd.read_csv("C:/Users/44780/OneDrive/Documents/FYP-Modelling/testcase/Gen36.csv")

NameError: name 'pd' is not defined

In [133]:
df

     Zone  connnode  c2   c1  c0   PgMax  PgMin  RgMax  RgMin  PgPrev
0       1         1   0  105   0   130.0      0    100   -100       0
1       1         2   0  120   0  1516.8      0    100   -100       0
2       1         3   0   70   0    51.0      0    100   -100       0
3       1         4   0   12   0   101.8      0    100   -100       0
4       1         5   0    5   0   510.3      0    100   -100       0
..    ...       ...  ..  ...  ..     ...    ...    ...    ...     ...
145    35       146   0   12   0    18.8      0    100   -100       0
146    35       147   0    5   0  1224.2      0    100   -100       0
147    36       148   0   70   0    10.0      0    100   -100       0
148    36       149   0   12   0    20.4      0    100   -100       0
149    36       150   0    5   0   332.9      0    100   -100       0

[150 rows x 10 columns]

In [203]:
test = df

In [210]:
test1 = test.groupby(['Zone','c1', 'PgPrev']).sum().reset_index(level = 2)

In [211]:
test1

          PgPrev  connnode  c2  c0   PgMax  PgMin  RgMax  RgMin
Zone c1
1    5         0         5   0   0   510.3      0    100   -100
     12        0         4   0   0   101.8      0    100   -100
     70        0         3   0   0    51.0      0    100   -100
     105       0         1   0   0   130.0      0    100   -100
     120       0         2   0   0  1516.8      0    100   -100
...          ...       ...  ..  ..     ...    ...    ...    ...
35   37        0       145   0   0   612.0      0    100   -100
     40        0       144   0   0   536.0      0    100   -100
36   5         0       150   0   0   332.9      0    100   -100
     12        0       149   0   0    20.4      0    100   -100
     70        0       148   0   0    10.0      0    100   -100

[149 rows x 8 columns]

In [202]:
test1.head(150)

              c1  connnode  c2  c0   PgMax  PgMin  RgMax  RgMin
Zone PgPrev
1    0         5         5   0   0   510.3      0    100   -100
     0        12         4   0   0   101.8      0    100   -100
     0        70         3   0   0    51.0      0    100   -100
     0       105         1   0   0   130.0      0    100   -100
     0       120         2   0   0  1516.8      0    100   -100
...          ...       ...  ..  ..     ...    ...    ...    ...
35   0        37       145   0   0   612.0      0    100   -100
     0        40       144   0   0   536.0      0    100   -100
36   0         5       150   0   0   332.9      0    100   -100
     0        12       149   0   0    20.4      0    100   -100
     0        70       148   0   0    10.0      0    100   -100

[149 rows x 8 columns]

In [131]:
test = test.set_index('Zone')

In [165]:
test = test.groupby('Zone')

In [166]:
test.head(20)

     Zone  connnode  c2   c1  c0   PgMax  PgMin  RgMax  RgMin  PgPrev
0       1         1   0  105   0   130.0      0    100   -100       0
1       1         2   0  120   0  1516.8      0    100   -100       0
2       1         3   0   70   0    51.0      0    100   -100       0
3       1         4   0   12   0   101.8      0    100   -100       0
4       1         5   0    5   0   510.3      0    100   -100       0
..    ...       ...  ..  ...  ..     ...    ...    ...    ...     ...
145    35       146   0   12   0    18.8      0    100   -100       0
146    35       147   0    5   0  1224.2      0    100   -100       0
147    36       148   0   70   0    10.0      0    100   -100       0
148    36       149   0   12   0    20.4      0    100   -100       0
149    36       150   0    5   0   332.9      0    100   -100       0

[150 rows x 10 columns]

In [104]:
test.get_group(1)

   connnode  c2   c1  c0   PgMax  PgMin  RgMax  RgMin  PgPrev
0         1   0  105   0   130.0      0    100   -100       0
1         1   0  120   0  1516.8      0    100   -100       0
2         1   0   70   0    51.0      0    100   -100       0
3         1   0   12   0   101.8      0    100   -100       0
4         1   0    5   0   510.3      0    100   -100       0